n8n_workflows/notificaciones_bonos_cumpleanos.json
{
  "name": "Automatizaciones de Retención (Bonos y Cumpleaños)",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "contacto@narbossalon.com",
        "toEmail": "={{ $json[\"email\"] }}",
        "subject": "¡Feliz Cumpleaños! Un regalo especial de Narbo's 🎂",
        "emailFormat": "html",
        "html": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@700&display=swap');\n    </style>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; background-color: #f7f7f7;\">\n    <div style=\"max-width: 600px; margin: 40px auto; background-color: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 15px rgba(0,0,0,0.05);\">\n        <div style=\"background-color: #6B755A; padding: 40px 20px; text-align: center;\">\n            <img src=\"https://narbossalon.com/images/brand/logo_narbos.png\" alt=\"Narbo's Salón\" width=\"200\" style=\"height: auto; max-width: 200px; margin-bottom: 20px;\">\n            <h1 style=\"font-family: 'Playfair Display', serif; color: #ffffff; margin: 0; font-size: 24px;\">¡Tu día especial merece brillar! 🎂</h1>\n        </div>\n        <div style=\"padding: 40px 30px; text-align: center;\">\n            <p style=\"font-size: 16px; line-height: 1.6; color: #666666; margin-bottom: 30px;\">\n                Hola <b>{{ $json[\"nombre\"] }}</b>,<br><br>\n                En Narbo's Salón Spa queremos celebrar tu vida. Por ser parte de nuestro Club, hoy tenemos un regalo exclusivo para ti:\n            </p>\n            <div style=\"background-color: #f9f9f9; padding: 25px; border-radius: 20px; border: 2px solid #6B755A; display: inline-block; margin-bottom: 30px;\">\n                <p style=\"margin: 0; font-size: 14px; color: #888888; text-transform: uppercase;\">🎁 Bono de 15% de descuento</p>\n                <p style=\"margin: 10px 0 0 0; font-size: 18px; font-weight: 600; color: #5B4636;\">Código: {{ $json[\"codigo_descuento\"] }}</p>\n                <div style=\"margin-top: 15px;\">\n                    <img src=\"https://quickchart.io/qr?text={{ $json[\"codigo_descuento\"] }}&size=150\" alt=\"Código QR de tu Bono\" width=\"150\" height=\"150\">\n                </div>\n            </div>\n            <p style=\"font-size: 14px; color: #999999; margin-bottom: 30px;\">Válido durante todo tu mes de cumpleaños en cualquiera de nuestros servicios.</p>\n            <a href=\"https://wa.me/573059298379\" style=\"display: inline-block; background-color: #6B755A; color: #ffffff; text-decoration: none; padding: 14px 28px; border-radius: 30px; font-weight: 600;\">Reclamar mi regalo de cumple</a>\n        </div>\n        <div style=\"background-color: #333333; color: #ffffff; padding: 20px; text-align: center; font-size: 11px;\">\n            <p><strong>*Condiciones:</strong> Válido para 1 solo uso. No acumulable con otras promociones o cupones.</p>\n            <p style=\"margin-top: 5px;\">© 2026 Narbo's Salón Spa &bull; Chía, Cundinamarca.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "df0cfd35-22f2-4889-a080-b77b14f68df2",
      "name": "Email: Enviar Regalo Cumple",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2224, 192],
      "webhookId": "cf036a87-e453-40c9-9c77-a0af663ce681",
      "credentials": {
        "smtp": {
          "id": "lHxckxi50jQr6fuv",
          "name": "Correo: contacto@narbossalon.com"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "contacto@narbossalon.com",
        "toEmail": "={{ $json[\"email\"] }}",
        "subject": "¡Tu beneficio de Narbo's expira pronto! ⏳",
        "emailFormat": "html",
        "html": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@700&display=swap');\n    </style>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; background-color: #f7f7f7;\">\n    <div style=\"max-width: 600px; margin: 40px auto; background-color: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 15px rgba(0,0,0,0.05);\">\n        <div style=\"background-color: #6B755A; padding: 40px 20px; text-align: center;\">\n            <img src=\"https://narbossalon.com/images/brand/logo_narbos.png\" alt=\"Narbo's Salón\" width=\"200\" style=\"height: auto; max-width: 200px; margin-bottom: 20px;\">\n            <h1 style=\"font-family: 'Playfair Display', serif; color: #ffffff; margin: 0; font-size: 24px;\">¡No dejes que expire tu beneficio! ⏳</h1>\n        </div>\n        <div style=\"padding: 40px 30px; text-align: center;\">\n            <p style=\"font-size: 16px; line-height: 1.6; color: #666666; margin-bottom: 30px;\">\n                Hola <b>{{ $json[\"nombre\"] }}</b>,<br><br>\n                Notamos que aún tienes pendiente tu cupón de bienvenida. Te escribimos para recordarte que **le queda poco tiempo de vigencia**.\n            </p>\n            <div style=\"background-color: #FFF9F5; padding: 25px; border-radius: 20px; border: 1px solid #E5D5C6; display: inline-block; margin-bottom: 30px;\">\n                <p style=\"margin: 0; font-size: 14px; color: #888888;\">Tu cupón de 10% OFF vence pronto.</p>\n                <p style=\"margin: 10px 0 0 0; font-size: 18px; font-weight: 600; color: #5B4636;\">Código: {{ $json[\"codigo_descuento\"] }}</p>\n                <div style=\"margin-top: 15px;\">\n                    <img src=\"https://quickchart.io/qr?text={{ $json[\"codigo_descuento\"] }}&size=150\" alt=\"Código QR de tu Bono\" width=\"150\" height=\"150\">\n                </div>\n            </div>\n            <p style=\"font-size: 14px; color: #999999; margin-bottom: 30px;\">Visítanos antes de que expire y vive la experiencia que mereces.</p>\n            <a href=\"https://wa.me/573059298379\" style=\"display: inline-block; background-color: #6B755A; color: #ffffff; text-decoration: none; padding: 14px 28px; border-radius: 30px; font-weight: 600;\">Agendar mi cita ahora</a>\n        </div>\n        <div style=\"background-color: #333333; color: #ffffff; padding: 20px; text-align: center; font-size: 11px;\">\n            <p><strong>*Condiciones:</strong> Válido para 1 solo uso. No acumulable con otras promociones o cupones.</p>\n            <p style=\"margin-top: 5px;\">© 2026 Narbo's Salón Spa &bull; Chía, Cundinamarca.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "38c79adf-9bf3-4b2a-b802-63a85380b12c",
      "name": "Email: Enviar Recordatorio",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2224, 448],
      "webhookId": "fc2df3b6-3e3b-4369-850a-ce87c4d9cd22",
      "credentials": {
        "smtp": {
          "id": "lHxckxi50jQr6fuv",
          "name": "Correo: contacto@narbossalon.com"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "58f41622-7dbf-406d-985c-ee58e1b581e2",
      "name": "Cron Diario (8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [1360, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f7d193ed-587c-49e4-a666-c086798a2eea",
              "leftValue": "={{ $json.birthday.substring(5) }}",
              "rightValue": "={{ $now.toFormat('MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [1824, 192],
      "id": "5db1cf12-7768-4147-ad49-63c5438e8f7b",
      "name": "Filtrar Cumpleaños Hoy"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clientes_fidelizacion",
        "returnAll": true,
        "filterType": "none"
      },
      "id": "5f85b8f3-a051-462a-80ae-f178b8efd120",
      "name": "Supabase: Buscar Cumpleaños",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1616, 192],
      "credentials": {
        "supabaseApi": {
          "id": "5hkYuZVAhznvx7lf",
          "name": "Supabase Fidelizacion Narbo's Pro"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clientes_fidelizacion",
        "returnAll": true,
        "filterType": "none"
      },
      "id": "519f2c79-085e-422e-934c-634b3d094e10",
      "name": "Supabase: Buscar Vencimientos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1616, 448],
      "credentials": {
        "supabaseApi": {
          "id": "5hkYuZVAhznvx7lf",
          "name": "Supabase Fidelizacion Narbo's Pro"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1d5ad801-21b7-4782-9990-fff88102745e",
              "leftValue": "={{ $json.created_at.substring(0, 10) }}",
              "rightValue": "={{ $now.minus({days: 150}).toFormat('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3ce0ce72-3c61-4912-88b3-c28401832b6f",
              "leftValue": "={{ $json.canjeado }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [1824, 448],
      "id": "0d9cf67f-07f8-4453-96bf-42cfc53470e0",
      "name": "Filtrar Vencimiento 5 Meses"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Diario (8 AM)": {
      "main": [
        [
          {
            "node": "Supabase: Buscar Cumpleaños",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase: Buscar Vencimientos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Cumpleaños Hoy": {
      "main": [
        [
          {
            "node": "Email: Enviar Regalo Cumple",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Buscar Cumpleaños": {
      "main": [
        [
          {
            "node": "Filtrar Cumpleaños Hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Buscar Vencimientos": {
      "main": [
        [
          {
            "node": "Filtrar Vencimiento 5 Meses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Vencimiento 5 Meses": {
      "main": [
        [
          {
            "node": "Email: Enviar Recordatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "22f08ea9-c806-4141-b9dd-dcafb0673edd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fdffcaf648a7aa062da0ec843fff869b930e75adc5303a6a19e86b840cf683f2"
  },
  "id": "notificaciones-bonos-cumpleanos",
  "tags": []
}